*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.p{
    font-family: "Montserrat", sans-serif;
}
.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover{
    color: rgb(20, 219, 20);
}
.navbar-brand{
    height:150px;
    width: 125px;
}
.search{
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}
.search:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid rgb(20, 219, 20);
    border-right: none;
}
.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(20, 219, 20);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.btn1:hover{
    background-color: rgb(13, 172, 13);
}
.bi-bag-check{
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}
.bi-bag-check:hover{
    color: rgb(20, 219, 20);
}
.navbar-toggler{
    font-size: 23px;
    color: black;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.main{
    background: url(./imgs/m1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main h1{
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}
.main p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.main p:nth-child(2){
    font-size: 18px;
    color: gray;
}
.mbtn1{
    height: 50px;
    width: 25%;
    outline: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn1:hover{
    background-color: rgb(13, 172, 13);
}
.mbtn2{
    height: 50px;
    width: 25%;
    outline: none;
    background-color: transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn2:hover{
    background-color: rgb(20, 219, 20);
    border: none;
    color: white;
}
.line{
    height: 6px;
    width: 30%;
    background: rgb(20, 219, 20);
    display: inline-block;
}
.about{
    background: url(./imgs/abut.jpg)no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.about h1{
    font-size: 3rem;
    font-weight: bold;
}
.about p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.about p:nth-child(2){
    font-size: 18px;
    color: gray;
}
.welcome{
    background: rgb(20, 219, 20);
}
.line2{
    height: 6px;
    width: 30%;
    background-color: white;
    display: inline-block;
}
.welcome h1{
    font-size: 3rem;
    font-weight: bold;
}
.welcome .card{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.welcome i{
    font-size: 45px;
    color: rgb(20, 219, 20);
}
.welcome h2{
    font-weight: lighter;
    padding: 10px 0px;
}
.product h1{
    font-size: 3rem;
    font-weight: bold;
}
.product p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.product p:nth-child(2){
    font-size: 18px;
    color: gray;

}
.star{
    text-align: end;
    color: orange;
}
.product .card{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.product .card-body{
     border: 1px dashed rgb(182, 182, 182);
}
.head1{
    font-weight: 400;
    margin: 0;
}
.per1{
    color: rgb(160, 145, 145);
}
.btnc{
    height: 50px;
    width: 50%;
    outline: none;
    border: none;
    color: white;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s;
}
.btnc:hover{
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
}
.discount{
    background: rgb(20, 219, 20);
    color: white;
}
.dbtn{
    height: 50px;
    width: 75%;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: all 0.4s;
}
.dbtn:hover{
    background-color: rgb(223, 218, 210);
}
.store h1{
    font-size: 3rem;
    font-weight: bold;
}
.store p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}
.store p:nth-child(2){
    font-size: 18px;
    color: gray;
}
.store i{
    font-size: 45px;
}
.store .card{
    border-radius: 0;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}
.store .card:hover{
    background-color: rgb(20, 219, 20);
    color: white;
}
.store .card:hover .per1{
    color: white;
}
.seller h1{
    font-size: 3rem;
    font-weight: bold;
}
.seller i{
    color: orange;
}
.seller .card{
    border-radius: 0;
    border: none;
}
.contact{
    background: url(./imgs/cont.jpg)no-repeat;
    background-size: cover;
    width: 100%;

}
.contact h1{
    font-size: 2rem;
    font-weight: bold;
    color: white;

}
.contact p{
    color: white;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}
.contact input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}
.contact textarea{
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    margin-top: 10px;
    padding: 10px;
}
.cbtn{
    height: 50px;
    width: 65%;
    outline: none;
    border: none;
    color: black;
    background: white;
    border-radius: 50px;
    font-weight: lighter;
    transition: all 0.4s;
}
.cbtn:hover{
    background: rgb(212, 168, 168);
}
.footer{
    background: rgb(36, 20, 20);
}
.s1{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid orange;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 9px;
    margin-top: 9px;
    margin-left: 10px;
    transition: all 0.3s;
    cursor: pointer;
}
.s1:hover{
    background-color: rgb(20, 219, 20);
    border: none;
}
.footer p{
    color: rgb(13, 172, 13);
}